$mdc-indigo: (
  50 : #E8EAF6,
  100: #C5CAE9,
  200: #9FA8DA,
  300: #7986CB,
  400: #5C6BC0,
  500: #3F51B5,
  600: #3949AB,
  700: #303F9F,
  800: #283593,
  900: #1A237E,
  a100: #8C9EFF,
  a200: #536DFE,
  a400: #3D5AFE,
  a700: #304FFE
);
